<a href="https://colab.research.google.com/github/Abhi050/Crime-Prediction/blob/master/Real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
fd=pd.read_csv("final.csv")
fd.drop("Unnamed: 0",inplace=True,axis=1)

In [17]:
fd.columns

Index(['Unnamed: 0', 'STATE/UT', 'YEAR', 'Pupose',
       'Total No. of cases reported', 'Male upto 10 years',
       'Female upto 10 years', 'Male 10-15 years', 'Female 10-15 years',
       'Male 15-18 years', 'Female 15-18 years', 'Male 18-30 years',
       'Female 18-30 years', 'Male 30-50 years', 'Female 30-50 years',
       'Male above 50 years', 'Female above 50 years', 'Total Male',
       'Total Female', 'Grand Total', 'DG/ ADG', 'IG', 'DIG', 'SSP/SP/ Ad.SP',
       'ASP/ DySP', 'Insepctor', 'Sub Inspector', 'Asst. Sub Inspector',
       'Head Constable', 'Below HC above Constable', 'Constables', 'TOTAL'],
      dtype='object')

In [0]:
df=fd.iloc[:,[1,4,20,21,22,23,24,25,26,27,28,29,30,31]]

In [0]:
# df[["STATE/UT",'Total No. of cases reported','DG/ ADG', 'IG', 'DIG',
#        'SSP/SP/ Ad.SP', 'ASP/ DySP', 'Insepctor', 'Sub Inspector',
#        'Asst. Sub Inspector', 'Head Constable', 'Below HC above Constable',
#        'Constables']]=fd[["STATE/UT",'Total No. of cases reported','DG/ ADG', 'IG', 'DIG',
#        'SSP/SP/ Ad.SP', 'ASP/ DySP', 'Insepctor', 'Sub Inspector',
#        'Asst. Sub Inspector', 'Head Constable', 'Below HC above Constable',
#        'Constables']]

In [30]:
df.head()

      STATE/UT  Total No. of cases reported  ...  Constables   TOTAL
0  A&N Islands                          0.0  ...      1976.0  2792.0
1  A&N Islands                          0.0  ...      1976.0  2792.0
2  A&N Islands                          0.0  ...      1976.0  2792.0
3  A&N Islands                          0.0  ...      1976.0  2792.0
4  A&N Islands                          0.0  ...      1976.0  2792.0

[5 rows x 14 columns]

In [31]:

df.columns

Index(['STATE/UT', 'Total No. of cases reported', 'DG/ ADG', 'IG', 'DIG',
       'SSP/SP/ Ad.SP', 'ASP/ DySP', 'Insepctor', 'Sub Inspector',
       'Asst. Sub Inspector', 'Head Constable', 'Below HC above Constable',
       'Constables', 'TOTAL'],
      dtype='object')

In [5]:
df.drop_duplicates(keep="first",inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
df.head()

       STATE/UT  Total No. of cases reported  ...  Constables   TOTAL
0   A&N Islands                          0.0  ...      1976.0  2792.0
10  A&N Islands                          2.0  ...      1976.0  2792.0
14  A&N Islands                          0.0  ...      2120.0  2972.0
24  A&N Islands                          1.0  ...      2120.0  2972.0
27  A&N Islands                          2.0  ...      2120.0  2972.0

[5 rows x 14 columns]

In [26]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df["STATE/UT"]=le.fit_transform(df["STATE/UT"])

NameError: ignored

In [8]:

df.fillna(0,inplace = True)
df.isnull().sum()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

STATE/UT                       0
Total No. of cases reported    0
DG/ ADG                        0
IG                             0
DIG                            0
SSP/SP/ Ad.SP                  0
ASP/ DySP                      0
Insepctor                      0
Sub Inspector                  0
Asst. Sub Inspector            0
Head Constable                 0
Below HC above Constable       0
Constables                     0
TOTAL                          0
dtype: int64

In [9]:
for i in df.columns:
  df[i] = df[i].astype("int")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
df.columns

Index(['STATE/UT', 'Total No. of cases reported', 'DG/ ADG', 'IG', 'DIG',
       'SSP/SP/ Ad.SP', 'ASP/ DySP', 'Insepctor', 'Sub Inspector',
       'Asst. Sub Inspector', 'Head Constable', 'Below HC above Constable',
       'Constables', 'TOTAL'],
      dtype='object')

In [0]:
x=df.iloc[:,[0,1]]
y=df["TOTAL"]

In [0]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [0]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# xTrain = sc.fit_transform(xTrain)
# xTest = sc.transform (xTest)

In [12]:
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import xgboost as xgb
from sklearn.metrics import mean_squared_error
sc = StandardScaler()
a=[]
for i in range(2,25,1):
  
  pca = PCA(n_components=i)
  x1=pca.fit_transform(x)
  
  xTrain, xTest, yTrain, yTest = train_test_split(x1, y, test_size = 0.2, random_state = 0)
  

  xTrain = sc.fit_transform(xTrain)
  xTest = sc.transform (xTest)
  
  data_dmatrix = xgb.DMatrix(data=x,label=y)
  xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
  xg_reg.fit(xTrain,yTrain)

  preds = xg_reg.predict(xTest)
  rmse = np.sqrt(mean_squared_error(yTest, preds))
  a.append(rmse)

from sklearn.svm import SVR

x=df.iloc[:,[1]]
y=df["TOTAL"]


from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)


svr_rbf = SVR(kernel= 'rbf', C= 1e3, gamma= 0.1) # defining the support vector regression models
svr_lin = SVR(kernel= 'linear', C= 1e3)
svr_poly = SVR(kernel= 'poly', C= 1e3, degree= 2)
svr_rbf.fit(xTrain,yTrain) # fitting the data points in the models
svr_lin.fit(xTrain,yTrain)
svr_poly.fit(xTrain,yTrain)

p1=svr_rbf.predict(xTest)
p2=svr_lin.predict(xTest)
p3=svr_poly.predict(xTest)

rmse1 = np.sqrt(mean_squared_error(yTest,p1))
r21 = r2_score(yTest,p1)
print(rmse1)
print(r21)

# rmse2 = np.sqrt(mean_squared_error(yTest,p2))
# r22 = r2_score(yTest,p2)
# print(rmse2)
# print(r22)

# rmse3 = np.sqrt(mean_squared_error(yTest,p3))
# r23 = r2_score(yTest,p3)
# print(rmse3)
# print(r23)


en=ElasticNet(alpha=0.1,l1_ratio=0.5)
en.fit(xTrain,yTrain)
ypred=en.predict(xTest)
ypred

#en.score(yTest.flatten(),ypred)
rmse = np.sqrt(mean_squared_error(yTest, ypred))
rmse

39436.73840882609

In [14]:
a=en.predict([[3,2239]])
a

array([71242.52700696])

In [53]:
x=df.iloc[:,[1]]
y=df["TOTAL"]



from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)

# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# xtrain = sc.fit_transform(xTrain)
# yTrain = sc.transform (yTrain)

from sklearn.linear_model import LinearRegression
from sklearn import metrics

reg=LinearRegression()
reg.fit(xTrain,yTrain)
ypred=reg.predict(xTest)

print('Mean Absolute Error:', metrics.mean_absolute_error(yTest, ypred))  
print('Mean Squared Error:', metrics.mean_squared_error(yTest, ypred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yTest, ypred)))

Mean Absolute Error: 31502.145181145737
Mean Squared Error: 1680641067.2938545
Root Mean Squared Error: 40995.62253819125

In [54]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

x=df.iloc[:,[0,1]]
y=df["TOTAL"]



polynomial_features= PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(x)

model = LinearRegression()
model.fit(x_poly, y)
ypred = model.predict(x_poly)

rmse = np.sqrt(mean_squared_error(y,ypred))
r2 = r2_score(y,ypred)
print(rmse)
print(r2)

39937.89460616391
0.13479229314501884

In [1]:
from sklearn.svm import SVR

x=df.iloc[:,[1]]
y=df["TOTAL"]


from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)


svr_rbf = SVR(kernel= 'rbf', C= 1e3, gamma= 0.1) # defining the support vector regression models
svr_lin = SVR(kernel= 'linear', C= 1e3)
svr_poly = SVR(kernel= 'poly', C= 1e3, degree= 2)
svr_rbf.fit(xTrain,yTrain) # fitting the data points in the models
svr_lin.fit(xTrain,yTrain)
svr_poly.fit(xTrain,yTrain)

p1=svr_rbf.predict(xTest)
p2=svr_lin.predict(xTest)
p3=svr_poly.predict(xTest)

rmse1 = np.sqrt(mean_squared_error(yTest,p1))
r21 = r2_score(yTest,p1)
print(rmse1)
print(r21)

# rmse2 = np.sqrt(mean_squared_error(yTest,p2))
# r22 = r2_score(yTest,p2)
# print(rmse2)
# print(r22)

# rmse3 = np.sqrt(mean_squared_error(yTest,p3))
# r23 = r2_score(yTest,p3)
# print(rmse3)
# print(r23)

NameError: ignored

In [23]:
df1=fd.iloc[:,[0,1,3]]
df1.reset_index()
#df1.drop_duplicates(keep="last",inplace=True)


c=0
for i in df1.index:
  if df1["YEAR"][i] in range(2001,2014):
    c+=1
  if c<=13:
    df1.at[i,"YEAR"]= 0
  else:
    c=0
df1 = df1[df1.YEAR != 0]
df1

               STATE/UT  YEAR  Total No. of cases reported
13          A&N Islands  2001                          2.0
27          A&N Islands  2002                          2.0
41          A&N Islands  2003                          2.0
55          A&N Islands  2004                          3.0
69          A&N Islands  2005                          2.0
83          A&N Islands  2006                          5.0
97          A&N Islands  2007                         12.0
111         A&N Islands  2008                         17.0
125         A&N Islands  2009                         16.0
139         A&N Islands  2010                         10.0
153         A&N Islands  2011                         15.0
167         A&N Islands  2012                          8.0
181         A&N Islands  2013                         14.0
195      Andhra Pradesh  2001                       1182.0
209      Andhra Pradesh  2002                       1302.0
223      Andhra Pradesh  2003                       1485.0
237      Andhra Pradesh  2004                       1526.0
251      Andhra Pradesh  2005                       1612.0
265      Andhra Pradesh  2006                       2030.0
279      Andhra Pradesh  2007                       2097.0
293      Andhra Pradesh  2008                       1970.0
307      Andhra Pradesh  2009                       1958.0
321      Andhra Pradesh  2010                       2053.0
335      Andhra Pradesh  2011                       2154.0
349      Andhra Pradesh  2012                       1870.0
363      Andhra Pradesh  2013                       2119.0
377   Arunachal Pradesh  2001                         83.0
391   Arunachal Pradesh  2002                         57.0
405   Arunachal Pradesh  2003                         68.0
419   Arunachal Pradesh  2004                         65.0
...                 ...   ...                          ...
5949      Uttar Pradesh  2010                       6321.0
5963      Uttar Pradesh  2011                       8500.0
5977      Uttar Pradesh  2012                       8878.0
5991      Uttar Pradesh  2013                      11183.0
6005        Uttarakhand  2001                        183.0
6019        Uttarakhand  2002                        198.0
6033        Uttarakhand  2003                        171.0
6047        Uttarakhand  2004                        213.0
6061        Uttarakhand  2005                        203.0
6075        Uttarakhand  2006                        212.0
6089        Uttarakhand  2007                        253.0
6103        Uttarakhand  2008                        247.0
6117        Uttarakhand  2009                        275.0
6131        Uttarakhand  2010                        286.0
6145        Uttarakhand  2011                        314.0
6159        Uttarakhand  2012                        297.0
6173        Uttarakhand  2013                       1032.0
6187        West Bengal  2001                        875.0
6201        West Bengal  2002                        831.0
6215        West Bengal  2003                        902.0
6229        West Bengal  2004                       1200.0
6243        West Bengal  2005                       1207.0
6257        West Bengal  2006                       1355.0
6271        West Bengal  2007                       1800.0
6285        West Bengal  2008                       2332.0
6299        West Bengal  2009                       2750.0
6313        West Bengal  2010                       3345.0
6327        West Bengal  2011                       4285.0
6341        West Bengal  2012                       5117.0
6355        West Bengal  2013                       4573.0

[454 rows x 3 columns]

ValueError: ignored

In [30]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df1["STATE/UT"]=le.fit_transform(df1["STATE/UT"])

x=df1.iloc[:,[0,1]]
y=df1.iloc[:,2]

from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)

from sklearn.linear_model import ElasticNet
en=ElasticNet(alpha=0.1,l1_ratio=0.5)
en.fit(xTrain,yTrain)
ypred=en.predict(xTest)
p=en.predict([[12,2013]])
p

array([1458.37660934])

In [37]:
x=fd.iloc[:,3]
y=fd["TOTAL"]

x.fillna(0,inplace=True)
y.fillna(0,inplace=True)
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)        

from sklearn.linear_model import LinearRegression
from sklearn import metrics

reg=LinearRegression()
reg.fit(xTrain.values.reshape(-1,1),yTrain)
ypred=reg.predict(xTest.values.reshape(-1,1))

print("Enter the number of registered cases for which you want prediction of Total Police Personels\n")
#a=int(input())
print("The Predicted Total number of Police Personels is: {}\n".format(reg.predict([[1232]])))
print("The Prediction has the following values of accuracy measures.\n")
print('Mean Absolute Error:', metrics.mean_absolute_error(yTest, ypred))  
print('Mean Squared Error:', metrics.mean_squared_error(yTest, ypred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yTest, ypred)))

Enter the number of registered cases for which you want prediction of Total Police Personels

The Predicted Total number of Police Personels is: [64510.21295241]

The Prediction has the following values of accuracy measures.

Mean Absolute Error: 31877.887742906558
Mean Squared Error: 1639288990.304561
Root Mean Squared Error: 40488.13394446033

In [41]:
fd.columns

Index(['STATE/UT', 'YEAR', 'Pupose', 'Total No. of cases reported',
       'Male upto 10 years', 'Female upto 10 years', 'Male 10-15 years',
       'Female 10-15 years', 'Male 15-18 years', 'Female 15-18 years',
       'Male 18-30 years', 'Female 18-30 years', 'Male 30-50 years',
       'Female 30-50 years', 'Male above 50 years', 'Female above 50 years',
       'Total Male', 'Total Female', 'Grand Total', 'DG/ ADG', 'IG', 'DIG',
       'SSP/SP/ Ad.SP', 'ASP/ DySP', 'Insepctor', 'Sub Inspector',
       'Asst. Sub Inspector', 'Head Constable', 'Below HC above Constable',
       'Constables', 'TOTAL'],
      dtype='object')

In [43]:
x=fd.iloc[:,[-2,-3,-4,-5,-6,-7,-8,-9,-10,-11]]
x.columns

Index(['Constables', 'Below HC above Constable', 'Head Constable',
       'Asst. Sub Inspector', 'Sub Inspector', 'Insepctor', 'ASP/ DySP',
       'SSP/SP/ Ad.SP', 'DIG', 'IG'],
      dtype='object')

In [50]:
xt=pd.Dataframe([1,2,3,5,0,320,21000,232,5400,54443])

AttributeError: ignored

In [49]:
x=fd.iloc[:,[-2,-3,-4,-5,-6,-7,-8,-9,-10,-11]]
y=fd["Total No. of cases reported"]

x.fillna(0,inplace=True)
y.fillna(0,inplace=True)

from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0) 

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

polynomial_features= PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(x)

model = LinearRegression()
model.fit(x_poly, y)
ypred = model.predict(x_poly)
ypred
# rmse = np.sqrt(mean_squared_error(y,ypred))
# r2 = r2_score(y,ypred)
# print(rmse)
# print(r2)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

ValueError: ignored

In [47]:
x_poly

array([[1.0000e+00, 1.9760e+03, 0.0000e+00, ..., 4.0000e+00, 2.0000e+00,
        1.0000e+00],
       [1.0000e+00, 1.9760e+03, 0.0000e+00, ..., 4.0000e+00, 2.0000e+00,
        1.0000e+00],
       [1.0000e+00, 1.9760e+03, 0.0000e+00, ..., 4.0000e+00, 2.0000e+00,
        1.0000e+00],
       ...,
       [1.0000e+00, 7.0043e+04, 0.0000e+00, ..., 8.4100e+02, 7.5400e+02,
        6.7600e+02],
       [1.0000e+00, 7.0043e+04, 0.0000e+00, ..., 8.4100e+02, 7.5400e+02,
        6.7600e+02],
       [1.0000e+00, 1.7400e+02, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])